.page {
  text-align: center;
  margin-top: 50px;
  padding: 20px;

  h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #adff2f; /* заголовки теж яскраво-салатові */
  }

  p {
    font-size: 18px;
    color: #e5e5e5;
    max-width: 600px;
    margin: 0 auto;
  }
}
